
 /* Styles à appliquer si la largeur de l'écran est inférieure à 768px*/
 @media screen and (max-width: 768px) {
    .navbar {
        background-color: #333; /* Changer la couleur de fond de la barre de navigation sur les petits écrans */
    }    
    .navbar-nav .nav-item .nav-link {
        display: block; /* Définir les éléments de menu comme des blocs */
        margin: 150px 0; /* Définir la plage verticale */
    }
 
}
/* Changer la couleur du menu de navigation*/
.navbar {background-color: transparent;}
.navbar-brand img{
    height: 100px; 
    width: auto;
    margin-right: 10px; /* Espace entre l'image et le texte*/
}
.navbar-brand span {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #060400; /* Couleur de l'en-tête*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 4.5); /* Ombre du texte*/
}
.navbar-nav .nav-item .nav-link {position: relative;}
.navbar-nav .nav-item .nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px; /* Pour ajouter une ligne sous le texte */
    background-color: #ff6b81; /* Couleur du soulignement*/
    transform: scaleX(0); /* Cacher la ligne au démarrage */
    transform-origin: 100% 50%;
    transition: transform 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover::before {transform: scaleX(1); /* Afficher la ligne au survol*/}
section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* Couvrir toute la hauteur de l'écran*/
}
h1 {
    font-size: 36px;
    color: #333;
}        

img
{
    transition: transform 1.3s;
    filter: hue-rotate(90deg); /* Rotation de l'image de 90 degrés*/
    transform: rotate(45deg); /* Rotation de l'image de 45 degrés */
}
img:hover
{
    transform: scale(1.7); /* Agrandir l'image au survol*/
}
.container {
    text-align: center; /* Centrer le texte horizontalement */
    display: flex;
    justify-content: center; /* Centrer le texte verticalement */
    align-items: center;    
}
.container p {
    font-size: 18px;
    color: #333;
}
/*=================================FORM CONNEXION STYLE============================================*/
/* Conception générale du formulaire */
.login-container {
    width: 350px;
    margin:  auto;
    padding: 20px;
    background-color:white;
    box-shadow: 0 0 10px #007bff;
    border-radius: 50px;
}

/* Titre du formulaire*/
.login-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.login-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #007bff; /* Couleur de la ligne */
    margin: 0 auto;
    margin-top: 20px;
}


/* Form alanları */
.form-group {
    margin-bottom: 25px;
}
.form-label {
    display: block;
    font-weight: bold;
}
.form-input {
    width: 100%;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 63px;
    font-size: 15px;
}

/* Bouton de connexion */
.login-button {
    background-color: gray;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #007bff;
}


/*=================================DASHBOARD STYLE============================================*/
